<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap4 iot uap3">

  <Identity
    Name="20019SIDLCorp.MANAGERNETWORKDETECTOR"
    Publisher="CN=827F469E-81AF-4DB9-B0BD-92EBCB854296"
    Version="0.9.1.0" />

  <mp:PhoneIdentity PhoneProductId="f779db70-439f-49fe-883b-9e1e330f0b64" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>MANAGER NETWORK DETECTOR™</DisplayName>
    <PublisherDisplayName>SIDL CORPORATION</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="MANAGER_NETWORK_DETECTOR_.App">
      <uap:VisualElements
        DisplayName="MANAGER NETWORK DETECTOR™"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="MANAGER NETWORK DETECTOR™ For Windows 10 vous débarrase de tout logiciel de bureau tiers de récupérations d&apos;informations réseaux par une application native éxécutable sur Windows 10."
        BackgroundColor="royalBlue">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="MANAGER NETWORK DETECTOR™" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
          <uap:TileUpdate Recurrence="halfHour"  UriTemplate="https://news.google.com/rss?hl=fr"/>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="royalBlue"/>
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap4:Capability Name="offlineMapsManagement"/>
    <iot:Capability Name="systemManagement"/>
    <uap:Capability Name="contacts"/>
    <Capability Name="internetClientServer"/>
    <uap:Capability Name="userAccountInformation"/>
    <uap3:Capability Name="remoteSystem"/>
    <uap:Capability Name="removableStorage"/>
    <Capability Name="privateNetworkClientServer"/>
    <uap4:Capability Name="userDataTasks"/>
    <DeviceCapability Name="proximity"/>
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>